<div class="col-md-10 col-md-offset-1">
    <h2 class="text-center">指纹识别</h2>
    <br><br>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>类型</th>
                <th>指纹</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Server</td>
                <td>Nginx</td>
            </tr>
            <tr>
                <td>Lanuage</td>
                <td>PHP</td>
            </tr>
        </tbody>
    </table>
{#    <div class="row">#}
{#        <label class="col-md-2">#}
{#            Server:#}
{#        </label>#}
{#        <label class="col-md-4">#}
{#            Nginx#}
{#        </label>#}
{#    </div>#}
{#    <br>#}
{#    <div class="row">#}
{#        <label class="col-md-2">#}
{#            Lanuage:#}
{#        </label>#}
{#        <label class="col-md-4">#}
{#            PHP#}
{#        </label>#}
{#    </div>#}
</div>