<h2 class="text-center">端口扫描</h2>
<br>
<div class="row">
    <label class="col-md-2">模式：</label>
    <label>常用</label>
</div>
<div class="row">
    <label class="col-md-2">线程：</label>
    <label>8</label>
</div>
<br>
<div class="row">
    <label class="col-md-2">进度:</label>
    <div class="progress progress-striped">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span class="sr-only">40%完成</span>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th class="col-md-3">开放端口</th>
        <th class="col-md-9">端口服务描述</th>
    </tr>
    <tr>
        <td class="col-md-3">80</td>
        <td class="col-md-9">HTTP</td>
    </tr>
</table>
{#<div>#}
{#    <ul class="list-group">#}
{#        <li class="row list-group-item-heading">#}
{#            <label class="col-md-2">开放端口</label>#}
{#            <label class="col-md-10">端口服务描述</label>#}
{#        </li>#}
{#        <li class="row list-group-item">#}
{#            <label class="col-md-2">80</label>#}
{#            <label class="col-md-10">HTTP</label>#}
{#        </li>#}
{#        <li class="row list-group-item">#}
{#            <label class="col-md-2">22</label>#}
{#            <label class="col-md-10">SSH</label>#}
{#        </li>#}
{#        <li class="row list-group-item">#}
{#            <label class="col-md-2">443</label>#}
{#            <label class="col-md-10">HTTPS</label>#}
{#        </li>#}
{#    </ul>#}
{#</div>#}