body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/   /*白*/
  background-color: #444; /*黑*/
}

.form-login {
    /*margin: 30% 30% auto 30%;*/
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
    /*height: 370px;*/
}
.form-login .form-signin-heading,
.form-login .checkbox {
  margin-bottom: 10px;
}
.form-login .checkbox {
  font-weight: normal;
}
.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.row-centered{
  text-align: center;
}


.login-form{
    margin:20% auto auto auto;
    float:none;
    text-align:center;
    width: 400px;
    /*height: 350px;*/
    height: auto;
    padding: 20px 0 15px 0;
}

.control-wapper{
    position: relative;
    padding-left: 30px;
}

.input-icon{
    position: absolute;
    left: 4px;
    top: 8px;
}

.cpatcha_img{
    /*margin-left: -17px;*/
    /*float: right;*/
    padding-right: 0;
}

.cpatcha_img:hover{
    cursor: pointer;
}

.code-span{
    line-height: 40px;
    font-size: 16px;
    /*padding-right: 2px;*/
}
