#container{
    width:100%;
    /*height: auto !important;*/
    height: 100%; /*IE6不识别min-height*/
    position: absolute;
}

#target_information{
    margin: 0 auto 0 auto;
    height: 20px;
    font-size: 16px;
    background: #D2D1D0;
    color: #2DA777;
}

/*span.show_information{*/
    /*margin-left: 20%;*/
    /*text-align: center;*/
/*}*/

#page{
    margin: auto 0 auto 0;
    display: block;
    padding-top: 80px;
}

#operate_list{
    margin-left: 100px;
    height: 70%;

}

.navbar-left{
    padding-left:-15px;!important;
    padding-top:0!important;
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    font-family: Lucida Grande, Lucida Sans Unicode, Hiragino Sans GB, Microsoft YaHei UI, Verdana, Aril, sans-serif;
    /*font-family: Arial, “Microsoft YaHei”, “微软雅黑”;*/
    font-size:18px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #E0E0E0;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;

}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #E0E0E0;
  }
}

/*.nav-model > li{*/
    /*background: #f5f5f5;*/
/*}*/

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
    /*font-size: 16px;*/
}

li a{
    font-size:16px;
}

a:hover{
    cursor: pointer;
}

/*.nav>li>a{*/
    /*!*text-align: center;*!*/
    /*font-size:16px;*/
/*}*/

/*.nav>li>a:hover{*/
    /*cursor: pointer;*/
/*}*/
/*
 * Main content
 */

.main {
  padding: 20px;
    font-family: Lucida Grande, Lucida Sans Unicode, Hiragino Sans GB, Microsoft YaHei UI, Verdana, Aril, sans-serif;
    font-size:16px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.logo-img:hover{
    cursor: pointer;
}

.info-frame{
    margin: 1% 18% 1% 10%;
    min-width: 800px;
}

.show-content{
    border: 1px solid #dfe9ef;
    padding: 4%;
    background-color: white;
    /*font-size:14px;*/
    /*box-sizing: inherit;*/
    /*box-shadow: 0 1px 2px #bbbbbb;*/
    /*box-shadow: 0 3px 15px #bbbbbb;*/
}

.tool-form{
    margin-bottom: 20px;
}

.info-head{
    text-align: left;
    border: 1px solid #dfe9ef;
    background-color: #e5e5e5;
    color: #000;
    font-size:18px;
    margin-bottom: 5px;
}

.nav-model li{
    border:1px solid #E8E8E8;
}

.nav-first-level li a{
    padding-left: 18%;
    font-size: 18px;
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: none !important;
}
.sidebar .nav-second-level li a {
  padding-left: 25%;
    font-size: 16px;
}
.sidebar .nav-third-level li a {
  padding-left: 25%;
    font-size: 14px;
}

.panel-default{
    /*border-corlor: transparent; !important;*/
    border: 0;      !important;
    font-size: 16px;    !important;
    color: #96a3aa;
}

.panel-default>.panel-heading{
    background: #f0f3f6;        !important;
    font-size: 18px;
    /*corlor: #252a2f;            !important;*/
}

.table{
    /*border: 1px solid transparent;       !important;*/
}

.table-horizonal>tbody>tr>th, .table-horizonal>tbody>tr>td{
    text-align: left;   !important;
    padding: 3px;
    margin: 1px 0;
    border: 1px solid transparent;       !important;

    /*corlor: #96a3aa;    !important;*/
}

.this-title{
    color: #717b82;     !important;
    padding-left: 10px;
}

.panel-task-list>.panel-heading{
    padding: 3px 10px 3px 10px;  !important;
    color: #717b82;
}

.input-text{
    border:1px solid #ccc;
    border-radius: 1px;
    height: 34px;
    /*border-right: 0;*/
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
}

.btn-submit{
    margin-left:0;
    border-radius: 1px;
    border: none!important;
    color: #fff!important;
    background-color: #3fa9f5;
    border-color: #3fa9f5;
}

.btn-submit:focus{
    /*border: 1px solid #fff;*/
}

.no-padding-left-right{
    padding: 0;         !important;
}

.translation{
    background: transparent;    !important;
}

.result-ip{
    /*border: 1px;*/
    border-radius: 1px;
    float: left;
    display: block;
    background: #E0E0E0;
    margin: 2px 5px;
    padding: 1px 5px;
    font-size: 14px;    !important;
}

/*batch_task*/
.url-list{
    margin-top: 20px;
    /*border: 1px solid transparent;*/
    border:none;    !important;
}

.list-group{
    border: 1px solid #e0eaf0;
    /*font-size: 18px;*/
    box-shadow: 1px 2px 10px rgba(0, 0, 0, .075);
}

.padding-8-15{
    padding: 8px 15px;   !important;
}

.margin-top-20{
    margin-top: 20px;   !important;
}

.margin-left-right-10{
    margin-left: 5px;  !important;
    margin-right: 5px; !important;
}

.delete-url{
    /*border-radius: 100%;*/
    /*width: 40px;*/
    height: 37px;
    /*border: 1px solid red;*/
    border: 1px solid white;
    /*color: red;*/
    text-align: center;
    /*margin: 1px 1px 1px 0;*/
}
.delete-url:hover{
    cursor: pointer;
}

.height-full{
    height: 100%;
}

.padding-top-buttom-8 {
    padding: 8px;
}

.list-group-item{
    padding: 0;
    /*border: none;*/
    height: 40px;
}

.word-wrap{
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;/*这个参数根据需要来绝对要不要*/
}

.exp_name{
    border: 1px solid #eeeeee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
    cursor: auto;
    padding: 5px 10px;
    background: limegreen;
    color:#eeeeee;
    display: block;
    line-height: 15px;
}

.exp_name:hover{
    /*background: #55CD40;*/
    text-decoration: none;
    color: white;
}