body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/   /*白*/
  background-color: #444; /*黑*/
}

.form-register {
    position: relative;
    /*display: table;*/
    /*margin: 30% 30% auto 30%;*/
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
    /*height: auto;*/
}
.form-register .form-signin-heading,
.form-register .checkbox {
  margin-bottom: 10px;
}
.form-register .checkbox {
  font-weight: normal;
}
.form-register .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
/*.form-register input[type="email"] {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/
/*.form-register input[type="password"] {*/
  /*margin-bottom: 10px;*/
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
/*}*/

.input-div{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.register-form{
    margin:10% auto auto auto;
    float:none;

    /*text-align:center;*/
    max-width: 350px;
    /*height: 400px;*/
    height:auto;
}

.control-wapper{
    position: relative;
    padding-left: 30px;
}

.register_info{
    margin-left:15px;
    font-size: 14px;
}

.input-icon{
    position: absolute;
    left: 4px;
    top: 8px;
}

.error_info{
    color: red;
}