{#<h1>New Task</h1>#}
<form role="form-group" class="col-lg-6 col-lg-offset-2" style="border: 1px #000000;">
    {% csrf_token %}
    <div class="form-group row">
        <label class="col-3 control-label col-form-label">
        目标
        </label>
        <input type="text" class="form-control" name="target" placeholder="目标网址">
    </div>
    <hr>
    <div class="form-group row">
        <label class="control-label col-form-label col-3">
        指纹识别
        <input type="checkbox" checked name="open">
        </label>
    </div>
    <hr>
    <div class="form-group row inline-group">
        <label class="control-label col-4 col-form-label">
            端口扫描
            <input type="checkbox" class="" name="open">
{#            &nbsp;&nbsp;&nbsp;&nbsp;#}
        </label>

        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="col-4 col-form-label" style="float: right">线程：
            <input type="number" maxlength="2" value="2" class="">
        </label>
        <label class="col-4 col-form-label" style="float: right; margin-right: 5%">
            扫描模式：
            <select class="input-sm mb-1 inline-group">
                <option value="useually">默认</option>
                <option value="useually">常用端口</option>
                <option value="all">所有端口</option>
            </select>
        </label>
    </div>
    <hr>
    <div class="form-group row">
            <label class="control-label col-4 col-form-label">
            域名爆破
                <input type="checkbox" name="open">
            </label>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <label style="float: right">线程：
            <input type="number" class="" maxlength="2" value="2">
            </label>
    </div>
    <hr>
    <div class="form-group row">
        <label class="col-4 control-label col-form-label">
        网页爬虫
        <input type="checkbox" name="open">
        </label>
{#        &nbsp;&nbsp;&nbsp;&nbsp;#}
        <label style="float: right">线程：
            <input type="number" maxlength="2" value="2">
        </label>

    </div>
    <hr>
    <div class="form-group row">
        <label class="col-4 control-label col-form-label">
        漏洞扫描
        </label>
        <input type="checkbox" name="open">
    </div>
    <hr>
    <div class="form-group row col-12">
        <button class="btn btn-default" style="float: left" contenteditable="true" type="submit">取消</button>
        <button class="btn btn-success" style="float: right" contenteditable="true" type="submit">确认</button>
    </div>
</form>
