{#<h1>New Task</h1>#}

    <div class="col-md-10 col-md-offset-1">
        <form method="post" action="/new_single_task/">
        {% csrf_token %}
        <h2 class="text-center">新建一个任务</h2>
        <div class="form-group row">
            <label class="col-3 control-label col-form-label">
                目标
            </label>
            <input type="url" class="form-control" name="target" placeholder="目标网址" required>
        </div>
        <hr>
        <div class="form-group row">
            <label class="control-label col-form-label col-3">
                指纹识别
                <input type="checkbox" checked name="finger_flag">
            </label>
        </div>
        <hr>
        <div class="form-group row inline-group">
            <label class="control-label col-4 col-form-label">
                端口扫描
                <input type="checkbox" class="" checked name="port_scan_flag">
                {#            &nbsp;&nbsp;&nbsp;&nbsp;#}
            </label>
            <label class="col-4 col-form-label" style="float: right">线程：
                <input type="number" maxlength="2" checked value=10 class="" name="port_scan_thread">
            </label>
            <label class="col-4col-form-label" style="float: right; margin-right: 3%">
                扫描模式：
                <select class="input-sm mb-1 inline-group" name="port_scan_model">
                    <option value="usually">默认</option>
                    <option value="usually">常用端口</option>
                    <option value="all">所有端口</option>
                </select>
            </label>
        </div>
        <hr>
        <div class="form-group row">
            <label class="control-label col-4 col-form-label">
                域名爆破
                <input type="checkbox" checked name="domain_brute_flag">
            </label>
            <label style="float: right">线程：
                <input type="number" class="" maxlength=2 value=10 name="domain_brute_thread">
            </label>
        </div>
        <hr>
        <div class="form-group row">
            <label class="col-4 control-label col-form-label">
                网页爬虫
                <input type="checkbox" checked name="spider_flag">
            </label>
            <label style="float: right">线程：
                <input type="number" maxlength=2 value=10 name="spider_thread">
            </label>

        </div>
        <hr>
        <div class="form-group row">
            <label class="col-4 control-label col-form-label">
                漏洞扫描
            </label>
            <input type="checkbox" checked name="exploit_flag">
        </div>
        <hr>
        <div class="form-group row col-12">
            <button class="btn btn-default" style="float: left" type="submit">取消</button>
            <button class="btn btn-success" style="float: right" type="submit">确认</button>
        </div>
    </form>
    </div>


<script>
    $(document).ready(function () {
        //icheck插件
        $('input').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue',
            increaseArea: '20%' // optional
        });
    });
</script>