<div class="show-content">
    <div class="this-title">
        <h3>任务信息</h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">任务目标</h3>
        </div>
        <div class="panel-body">
            <table class="table table-horizonal">
                <tbody>
                <tr>
                    <th width="25%">目标</th>
                    <td width="75%">{{ info.target_url }}</td>
                </tr>
                <tr>
                    <th width="25%">状态</th>
                    <td width="75%">
                        {% ifequal info.status 1 %}
                            完成
                        {% else %}
                            未完成
                        {% endifequal %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {#    <br>#}
    {#    <div class="row">#}
    {#        <label class="col-md-2">#}
    {#            目标IP:#}
    {#        </label>#}
    {#            127.0.0.1#}
    {#        &nbsp;&nbsp;&nbsp;&nbsp;#}
    {#        192.168.0.1#}
    {#    </div>#}
    {#    <br>#}

    {#    <div class="row">#}
    {#        <label class="col-md-2">#}
    {#            任务进度：#}
    {#        </label>#}
    {#        <div class="progress progress-striped">#}
    {#            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"#}
    {#                aria-valuemin="0" aria-valuemax="100" style="width: 60%;">#}
    {#                <span class="sr-only">40%完成</span>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {% ifequal info.status 1 %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    web指纹
                </h3>
            </div>
            <div class="panel-body">
                {% if info.b_finger %}
                    {% ifequal info.r_finger.status 2 %}
                        <table class="table table-horizonal">
                            <tr>
                                <th>类型</th>
                                <th>名称</th>
                            </tr>
                            {% for app in info.r_finger.app_list %}
                                <tr>
                                    <td>{{ app.cata }}</td>
                                    <td>{{ app.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                    {% endifequal %}
                {% else %}
                    <div><span class="panel-info">没有结果</span></div>
                {% endif %}
            </div>

            <div class="panel-heading">
                <h3 class="panel-title">
                    web漏洞测试
                </h3>
            </div>
            <div class="panel-body">
                {% if info.b_exploit %}
                    {% ifequal info.r_exploit.status 2 %}
                        <table class="table table-horizonal">
                            <tr>
                                <th>exp类型</th>
                                <th>exp名称</th>
                            </tr>
                            {% for exp in info.r_exploit.result %}
                                <tr>
                                    <td>{{ exp.type }}</td>
                                    <td>{{ exp.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endifequal %}
                {% else %}
                    <div><span class="panel-info">没有结果</span></div>
                {% endif %}

            </div>
        </div>
    {% endifequal %}


    {#    <div class="row">#}
    {#        <label class="col-md-2">#}
    {#            任务模块：#}
    {#        </label>#}
    {#        指纹识别&nbsp;&nbsp;&nbsp;&nbsp;域名爆破#}
    {#    </div>#}
</div>