<h1 style="margin-top: 5%; text-align: center">任务列表&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
<table class="table table-bordered table-hover" style="margin-top: 5%" contenteditable="true">
	<thead>
		<tr>
			<th>任务编号</th>
			<th>任务类型</th>
			<th>开始时间</th>
			<th>任务状态</th>
            <th>查看详情</th>
		</tr>
	</thead>
	<tbody>
        <tr class="info">
			<td>1</td>
			<td>单个</td>
			<td>2017/2/21</td>
			<td>进行中</td>
            <td><a>查看详情</a></td>
		</tr>
		<tr class="success">
			<td><a>2</a></td>
			<td>批量</td>
			<td>2017/2/21</td>
			<td>完成</td>
            <td><a>查看详情</a></td>
		</tr>
		<tr class="success">
			<td>1</td>
			<td>TB - Monthly</td>
			<td>01/04/2012</td>
			<td>Approved</td>
		</tr>
		<tr class="error">
			<td>2</td>
			<td>TB - Monthly</td>
			<td>02/04/2012</td>
			<td>Declined</td>
		</tr>
		<tr class="warning">
			<td>3</td>
			<td>TB - Monthly</td>
			<td>03/04/2012</td>
			<td>Pending</td>
		</tr>
		<tr class="info">
			<td>4</td>
			<td>TB - Monthly</td>
			<td>04/04/2012</td>
			<td>Call in to confirm</td>
		</tr>
	</tbody>
</table>
