<div class="show-content">
    <div class="this-title">
        <h3>域名爆破</h3>
    </div>
    <div class="translation">
        <div class="panel-body">
            <iframe id="frame_domain_brute_form" name="frame_domain_brute_form" style="display: none"></iframe>
            <form method="post" action="/tools/domain_brute/" target="frame_domain_brute_form">
                {% csrf_token %}
                <div class="row">
                    <input id="domain_brute_id" type="number" hidden name="id" value=0>
                    <div class="col-sm-10 no-padding-left-right">
                        <input type="text" placeholder="域名：www.domain.com" name="domain" class="input-text form-control" required value="www.flyl3una.cc">
                    </div>
                    <div class="col-sm-2 no-padding-left-right">
                        <input type="submit" value="开始" class="btn form-control btn-submit">
                    </div>
                </div>
            </form>
            <div id="domain_brute_form_result" class="form-result">
                {{ error }}
            </div>
        </div>
    </div>
    <div id="panel_result" class="panel panel-default" hidden>
        <div class="panel-heading">
            结果
        </div>
        <div class="panel-body">
            <div id="view_domain_info">

            </div>
            <div id="process_div" class="row">
                <div class="col-md-2">
                    <label>进度</label>
                </div>
                <div class="col-md-10">
                    <div class="progress  progress-striped">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                            <span class="sr-only">40%完成</span>
                        </div>
                    </div>
                </div>
            </div>
            <h3>域名列表</h3>
            <table id="result_table" class="table table-horizonal">
            </table>
{#            <ul class="list-group">#}
{#                <li class="row list-group-item">www.baidu.com</li>#}
{#                <li class="row list-group-item">map.baidu.com</li>#}
{#                <li class="row list-group-item">pan.baidu.com</li>#}
{#            </ul>#}

        </div>
    </div>
</div>


<script>
    var form_result = function (ret) {
    ret = eval('('+ret+')');
    console.log(ret);
    flag = ret.flag;
    if(flag == 0) {
        $("#domain_brute_form_result").html(ret.info);
    }
    else if(flag == 1){

        id = ret.id;
{#        console.log(id);#}
        $("#domain_brute_id").val(ret.id);
        $("#panel_result").show();
        $("#process_div").show();
        $("#process_bar").width("0");
        $("#view_domain_info").html(ret.info+"<br>正在爆破中，请耐心等待，不要切换页面。。。");
        timer = window.setInterval("view_domain_brute()",3000);
    }
    else if(flag == 2){
        $("#panel_result").show();
        $("#process_div").hide();
        $("#view_domain_info").html(ret.info);
        result_dic = ret.result_dic
        tb = '<tr><th width="35%">域名</th><th width="65%">ip地址</th></tr>';
        for(var domain in result_dic){
            ips = result_dic[domain];
            tb += '<tr><td>'+ domain +'</td><td>';
            for (var i=0; i < ips.length; i++){
                ip = ips[i];
                ip_div = '<div>'+ip+'</div>';
                tb += ip_div;
            }
            tb += '</td></tr>'
        }
        $("#result_table").html(tb);
    }
};
var view_domain_brute = function () {
    console.log("view_port_scan");
    id = $("#domain_brute_id").val();
    console.log(id);
    if(id == 0){
        return;
    }
    $.ajax({
        url: "/tools/domain_brute/"+id,
        type: "GET",
        dataType: 'json',
        success: function (ret) {
            ret = eval('('+ret+')');
            if (ret.flag == 0){
                $("#view_domain_info").html(ret.info);
            }
            else if (ret.flag == 1){
                rate = ret.rate;
                $("#process_div").show();
                $("#process_bar").width(rate+"%");
                cnt = ret.info + "<br>正在扫描中，请耐心等待，不要切换页面。。。";
                $("#view_domain_info").html(cnt);
            }else if(ret.flag == 2){
                $("#view_domain_info").text("");
                $("#process_bar").width("100%");
                result_dic = ret.result_dic
                tb = '<tr><th width="30%">域名</th><th width="70%">ip地址</th></tr>';
                for(var domain in result_dic){
                    ips = result_dic[domain];
                    tb += '<tr><td>'+ domain +'</td><td>';
                    for (var ip in ips){
                        ip_div = '<div>'+ip+'</div>';
                        tb += ip_div;
                    }
                    tb += '</td></tr>'
                }
                $("#result_table").html(tb);
                window.clearInterval(timer);
            }
        }
    });
};

    var show_error = function (cnt) {
        $("#domain_brute_form_result").html(cnt);
    }

</script>