{#<h2 class="text-center">端口扫描</h2>#}
{#<br>#}
{#<div class="row">#}
{#    <label class="col-md-2">模式：</label>#}
{#    <label>常用</label>#}
{#</div>#}
{#<div class="row">#}
{#    <label class="col-md-2">线程：</label>#}
{#    <label>8</label>#}
{#</div>#}
{#<br>#}
{#<div class="row">#}
{#    <label class="col-md-2">进度:</label>#}
{#    <div class="progress progress-striped">#}
{#        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"#}
{#            aria-valuemin="0" aria-valuemax="100" style="width: 60%;">#}
{#            <span class="sr-only">40%完成</span>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<table class="table table-bordered">#}
{#    <tr>#}
{#        <th class="col-md-3">开放端口</th>#}
{#        <th class="col-md-9">端口服务描述</th>#}
{#    </tr>#}
{#    <tr>#}
{#        <td class="col-md-3">80</td>#}
{#        <td class="col-md-9">HTTP</td>#}
{#    </tr>#}
{#</table>#}

<div class="show-content">
    <div class="this-title">
        <h3>端口扫描</h3>
    </div>
    <div class="translation">
        <div class="panel-body">
            <form method="post" action="/tools/port_scan/">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-10 no-padding-left-right">
                        <input type="text" name="ip" placeholder="ip eg:127.0.0.1" class="input-text form-control" required value="127.0.0.1">
                    </div>
                    <div class="col-sm-2 no-padding-left-right">
                        {#            <input type="number" placeholder="线程数">#}
                        <input type="submit" value="开始" class="btn form-control btn-submit">
                    </div>
                </div>
            </form>
            <div>
                {{ error }}
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            结果
        </div>
        <div class="panel-body">
            <table class="table table-horizonal">
                <tr>
                    <th width="20%">端口</th>
                    <th width="80%">信息</th>
                </tr>
                <tr>
                    <td>xx</td>
                    <td>aa</td>
                </tr>
                <tr>
                    <td>ww</td>
                    <td>adf</td>
                </tr>
            </table>
        </div>
    </div>
</div>
