<h2 class="text-center">漏洞攻击</h2>
<br>
<table class="table table-bordered">
    <tr>
        <th class="col-md-4">exp适用目标</th>
        <th class="col-md-5">exp名字</th>
        <th class="col-md-3">结果</th>
    </tr>
    <tr>
        <td>PHP</td>
        <td>111</td>
        <td>成功</td>
    </tr>
    <tr>
        <td>nginx</td>
        <td>22</td>
        <td>失败</td>
    </tr>
    <tr>
        <td>wordpress</td>
        <td>wordpress111</td>
        <td>失败</td>
    </tr>
    <tr>
        <td>drupal</td>
        <td>drupal13</td>
        <td>成功</td>
    </tr>
</table>