<div class="show-content">
    <input id="current-page-id" hidden value=13>
    <div class="this-title">
        <h3>web爬虫</h3>
    </div>
    <div class="translation">
        <div class="panel-body">
            <iframe id="frame_web_spider_form" name="frame_web_spider_form" style="display: none"></iframe>
            <form method="post" action="/tools/web_spider/" target="frame_web_spider_form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-10 no-padding-left-right">
                        <input type="text" name="url" placeholder="url eg:http://drupal.heavensword.com"
                               class="input-text form-control" required value="http://drupal.heavensword.com">
                    </div>
                    <input id="web_spider_id" type="number" hidden name="id" value=0>
                    <div class="col-sm-2 no-padding-left-right">
                        {#            <input type="number" placeholder="线程数">#}
                        <input type="submit" value="开始" class="btn form-control btn-submit">
                    </div>
                </div>
            </form>
            <div id="spider_form_result" class="form-result">
                {{ error }}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            web目录
        </div>
        <div class="panel-body">
            <div id="view_spider_info">

            </div>
            <div id="result-tree" class="treeview">
                <ul id="tree" class="filetree">
{#                    treeview-famfamfam#}
{#                    <li id="target-tree">#}
{#                        <div class="hitarea collapsable-hitarea"></div>#}
{#                        <span class="folder">www.baidu.com/</span>#}
                        {#                        <ul>#}
                        {#                            <li>#}
                        {#                                <div class="hitarea collapsable-hitarea"></div>#}
                        {#                                <span class="file">world</span></li>#}
                        {#                            <li>#}
                        {#                                <div class="hitarea collapsable-hitarea"></div>#}
                        {#                                <span class="file">hello</span>#}
                        {#                            </li>#}
                        {#                        </ul>#}
{#                    </li>#}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var web_spider_form_result = function (ret) {
        ret = eval('(' + ret + ')');
{#        console.log(ret);#}
        var flag = ret.flag;
        if (flag == 0) {
            $("#spider_form_result").html(ret.info);
        }
        else if (flag == 1) {
            id = ret.id;
            $("#web_spider_id").val(ret.id);
            $("#panel_result").show();
            $("#process_bar").width("0");
            $("#view_spider_info").html(ret.info + "<br>正在扫描中，请耐心等待，不要切换页面。。。");
            timer = window.setInterval("view_web_spider()", 1000);
        } else if (flag == 2) {
            var id = ret.id;
            $("#view_spider_info").html(ret.info);
            var tree = ret.tree;

{#            var name = tree.name;#}
{#            var url = tree.url;#}
{#            var span_html = '<div class="hitarea collapsable-hitarea"></div><span class="folder">' + name + '</span>';#}
            var dirs_html = generate_dirs(tree);
            console.log(dirs_html);
            $("#tree").html("<li>"+dirs_html+'</li>');
            $("#panel_result").show();
            $("#tree").treeview();
        }
    };
    var view_web_spider = function () {
        console.log("view_web_spider");
        page_id = $("#current-page-id").val();
        console.log(page_id);
        if (page_id != 13) {
            console.log("已不在爬虫页面");
            window.clearInterval(timer);
            return;
        }
        id = $("#web_spider_id").val();
        {#        console.log(id);#}
        if (id == 0) {
            return;
        }
        $.ajax({
            url: "/tools/web_spider/" + id,
            type: "GET",
            dataType: 'json',
            success: function (ret) {
                ret = eval('(' + ret + ')');
                if (ret.flag == 0) {
                    $("#web_spider_info").html(ret.info);
                }
{#                else if (ret.flag == 1) {#}
                else{
                    var num = ret.num;
{#                    $("#view_spider_info").html(ret.info);#}
                    var cnt = ret.info + "<br>扫描结果："+num+"个链接";
                    $("#view_spider_info").html(cnt);
                    var tree = ret.tree;

                    var dirs_html = generate_dirs(tree);
{#                    console.log(dirs_html);#}
                    $("#tree").html("<li>"+dirs_html+'</li>');
                    $("#panel_result").show();
                }
                if (ret.flag == 2) {
                    $("#view_port_info").text("");
                    window.clearInterval(timer);
                }
                $("#tree").treeview();
            }
        });
    };
    var show_web_spider_error = function (cnt) {
        $("#port_scan_form_result").html(cnt);
    };


    var generate_dirs = function (tree) {
        try {
            if (!tree){
                return '';
            }
            var childrens = tree.childrens;
            var childrens_len = childrens.length;
            if (childrens_len) {
                var childrens_html = '';
                var name = tree.name;
                var url = tree.name;
{#                var span_html = '<div class="hitarea collapsable-hitarea"></div><span class="folder">' + name + '</span>';#}
                var span_html = '<span class="folder">' + name + '</span>';
                for (var i = 0; i < childrens_len; i++) {
                    var children = childrens[i];
                    var children_html = generate_dirs(children);
                    if(children_html == ''){
                        continue;
                    }
                    childrens_html += '<li>' + children_html + '</li>';
                }
{#                depth = tree['depth'];#}
{#                if(depth == -1){#}
{#                    var ul_html = childrens_html;#}
{#                }#}
                if (childrens_html == ''){
                    var ul_html = span_html;
                }else{
                    var ul_html = span_html+'<ul>' + childrens_html + '</ul>';
                }
{#                console.log(ul_html);#}
                return ul_html
            }
            else {
                name = tree.name;
                if (name == ''){
                    return '';
                }
                url = tree.url;
                var li_html = '<span class="file">' + name + '</span>';
{#                console.log(li_html);#}
                return li_html
            }
        }
        catch (e) {
{#            console.log(e);#}
            return ''
        }

    };

{#    $(document).ready(function () {#}
{#        $("#tree").treeview();#}
{#    });#}
</script>