<!DOCTYPE html>

<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="zh-CN" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="zh-CN"> <!--<![endif]-->

<!-- BEGIN HEAD -->
{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">

{#	<meta content="" name="description" />#}
{#	<meta content="" name="author" />#}

    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    {#    <link rel="stylesheet" href="{% static "css/flatui.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "css/style.css" %}">#}
    {#    <link rel="stylesheet" href="{% static "sort/style.css" %}">#}
    <link href="{% static "bootstrap-3.3.7/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap-3.3.7/css/bootstrap-theme.css" %}" rel="stylesheet">

    {#    <script src="{% static "js/jquery.easyui.min.js" %}"></script>#}
    {#    <script src="{% static "js/jquery.json.js" %}"></script>#}
    {#    <script src="{% static "js/jquery.tablesorter.js" %}"></script>#}
    {#    <script src="{% static "js/go.js" %}"></script>#}
    <!-- 新加的东西放在后面，有顺序加载 -->
    {% block extracss %}

    {% endblock %}
    <title>{% block title %}倚天剑{% endblock %}</title>
</head>
<body>
{% block body %}
{% endblock %}

<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
<script src="{% static "bootstrap-3.3.7/js/bootstrap.min.js" %}"></script>
{% block js %}
    {#    <script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>#}
    {#    <script src="http://libs.baidu.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

{% endblock %}
{% block extrajs %}

{% endblock %}
</body>

</html>

