<div class="show-content">
    {#    <h3>帮助页面</h3>#}
    <div class="this-title"><h3>帮助页面</h3></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            web漏洞检测
        </div>
        <div class="panel-body">
            <div class="word-wrap row">
                漏洞检测功能使用的任务模式，用户输入目标url即可进行开启一个检测任务。
                任务会自动识别域名，识别目标web应用指纹，然后根据指纹进行漏洞测试。
                单任务模式：针对单个域名进行漏洞检测。
                批量任务模式：添加多个域名列表，批量进行漏洞检测。
                任务列表：查看当前用户创建的所有任务和每个任务的进度。
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            信息搜集工具
        </div>
        <div class="panel-body">
            <div class="word-wrap row">
                提供了用户web渗透测试时使用的一些常用工具。包括端口扫描，子域名爆破，网页爬虫等功能。
            </div>
        </div>
    </div>
</div>
</div>