<div class="show-content">
    {#    <h3>帮助页面</h3>#}
    <div class="this-title"><h3>帮助页面</h3></div>
    <div class="panel panel-default">
        <div class="panel-heading">
            web漏洞检测
        </div>
        <div class="panel-body">
            <div class="word-wrap row">
                漏洞检测功能使用的任务模式，用户输入目标url即可进行开启检测任务。
                任务会自动识别域名，识别目标web应用指纹，然后根据指纹进行漏洞测试。
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="">
    </div>
</div>
</div>