{% extends 'base.html' %}
{% block title %}倚天剑{% endblock %}
{% load staticfiles %}
{% load static %}

{% block extracss %}
    <link href="{% static "css/index.css" %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="back-img"><img src="{% static "images/2.jpg" %}"></div>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
{#              <h3 class="masthead-brand">倚天剑</h3>#}
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/operation" style="font-family: 'Microsoft YaHei UI Light'">面板</a></li>
{#                  <li><a href="#">登陆</a></li>#}
                  <li><a href="/logout" style="font-family: Microsoft YaHei UI Light;">注销</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="inner cover">
{#              <h1 style="margin-top: -60px">倚天剑</h1><br><br><br><br>#}
              <img src="{% static "images/8.png" %}" style="margin-top: -160px">
              <br><br><br><br>
              <form method="post" class="form_audit">
                    {% csrf_token %}
                  <label for="input_text" class="sr-only">url</label>
                  <input type="text" id="input_text" name="target" placeholder="Target url. eg:http://www.baidu.com" required autofocus>
                  <input type="submit" id="input_submit" value="检测">
              </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
{#              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>#}
                <p>武林至尊,宝刀屠龙,号令天下,莫敢不从,倚天不出,谁与争锋</p>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}