{% extends 'base.html' %}
{% block title %}操作管理{% endblock %}
{% load staticfiles %}
{% load static %}

{% block extracss %}
    {#    <link href="{% static "icheck/skins/all.css" %}" rel="stylesheet">#}
    <link href="{% static "sb/css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "sb/css/metisMenu.css" %}" rel="stylesheet">
    <link href="{% static "css/operation.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.treeview.css" %}" rel="stylesheet">
    <link href="{% static "icheck/skins/minimal/blue.css" %}" rel="stylesheet">
    <link href="{% static "sb/css/font-awesome.css" %}" rel="stylesheet">
    <link href="{% static "sb/css/dataTables.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "sb/css/dataTables.responsive.css" %}" rel="stylesheet">
{% endblock %}


{% block body %}
    {#        <div class="container">#}
    <nav class="navbar navbar-inverse navbar-fixed-top" style="height: 50px;">
        {#    <nav class="navbar navbar-fixed-top">#}
        <div class="container-fluid">
            {#        <div class="row-fluid">#}
            <div id="navbar" class="navbar-collapse collapse">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {#                    <a class="navbar-brand" style="font-size: 24px;" href="#">倚天剑</a>#}
                    <img class="img-logo img-rounded" src="{% static "images/7.png" %}" style="width: 50%;" href="/">
                </div>
                <ul id="task_button" class="nav navbar-nav nav-sidebar">
                    {#                  <li class="active"><a href="#">新建任务</a></li>#}

                    <li><a id="task_info" href="#">任务信息</a></li>
                    <li><a id="add_module" href="#">添加模块</a></li>
                    {#                  <li><a id="batch_task" href="#">批量任务</a></li>#}
                    {#                    <li><a id="new_task" href="#">新建任务</a></li>#}
                    {#                    <li class="dropdown">#}
                    {#                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">新建任务<span class="caret"></span></a>#}
                    {#                        <ul id="new_task" class="dropdown-menu">#}
                    {#                            <li><a id="new_single_task" href="#">单一任务</a></li>#}
                    {#                            <li><a id="new_batch_task" href="#">批量任务</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">任务模块<span class="caret"></span></a>
                        <ul id="view_module" class="dropdown-menu">
                            <li><a class="task" id="task-1" href="#">指纹识别</a></li>
                            <li><a class="task" id="task-1" href="#">端口扫描</a></li>
                            <li><a class="task" id="task-1" href="#">域名爆破</a></li>
                            <li><a class="task" id="task-1" href="#">网页爬虫</a></li>
                            <li><a class="task" id="task-1" href="#">漏洞检测</a></li>
                            {#                      <li><a class="task" id="task-1" href="#">任务1</a></li>#}
                            {#                      <li><a class="task" id="task-2" href="#">任务2</a></li>#}
                            {#                      <li><a class="task" id="task-3" href="#">任务3</a></li>#}
                            {#                      <li role="separator" class="divider"></li>#}
                            {#                      <li class="dropdown-header">批量</li>#}
                            {#                      <li><a class="batch" id="batch-task-1" href="#">批量1</a></li>#}
                            {#                      <li><a class="batch" id="batch-task-2" href="#">批量2</a></li>#}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {#                    <li><a href="/admin">管理</a></li>#}
                    {% ifnotequal username '' %}
                    <li><a href="/user">{{ username }}</a></li>
{#                    {% else %}#}
{#                    <li><a href="/user">登陆</a></li>#}
                    {% endifnotequal %}
                    {#                    <li><a href="#">Settings</a></li>#}
                    <li><a href="/user/logout">注销</a></li>
                    <li><a href="/help">帮助</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        {#            <div class="row1" style="margin-top: 50px; padding-left: -15px">#}
        {#            </div>#}
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" style="margin-top: 0;width: 240px;">
                {#                    sidebar-nav navbar-collapse#}
                <div class="nav nav-sidebar ">
                    {#                        <ul class="nav nav-sidebar" >#}
                    {#                            <li><p>target information</p></li>#}
                    {#                            <li><img src="{% static "images/4.jpg"%}"/></li>#}
                    {#                        </ul>#}
                    <h2 class="page-header" style="text-align: center">倚天 VS 屠龙</h2>
                    {#                        倚天不出，谁与争锋#}
                    <img src="{% static "images/4.jpg" %}" class="img-rounded" style="width:99.5%">
                    <ul id="side-menu" class="nav nav-model nav-first-level">
                        <br><br>
                        <li id="web_task">
                            <a href="#">web应用检测
                                <span class="fa-angle-right arrow fa"></span>
                            </a>
                            <ul class="nav nav-second-level collapse">
                                <li><a id="new_single_web_task" class="web_task">单一任务</a></li>
                                <li><a id="new_batch_web_task" class="web_task">批量任务</a></li>
                                <li><a id="view_web_task_list" class="web_task">任务列表</a></li>
                            </ul>
                        </li>
                        <li id="system_task">
                            <a href="#">系统漏洞检测
                                <span class="fa-angle-right arrow fa"></span>
                            </a>
                            <ul class="nav nav-second-level collapse">
                                <li><a id="new_single_sys_task" class="sys_task">单一任务</a></li>
                                <li><a id="new_batch_sys_task" class="sys_task">批量任务</a></li>
                                <li><a id="view_sys_task_list" class="sys_task">任务列表</a></li>
                            </ul>
                        </li>
                        <li id="information_collection">
                            <a href="#">信息搜集工具
                                <span class="fa-angle-right fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level collapse">
                                <li><a id="port_scan" class="tools-a">端口扫描</a></li>
                                <li><a id="domain_brute" class="tools-a">域名爆破</a></li>
                                <li><a id="web_spider" class="tools-a">网页爬虫</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="panel-body" style="padding: auto auto auto auto">
                    <div class="info-frame row" id="content">
                        <h1 style="text-align: center">你要倚天剑还是屠龙刀呢？</h1>
                    </div>
                    {#                    <h1 class="page-header">Dashboard</h1>#}
                    {#                    <div class="panel-body">#}
                    {#                        <h1>hello</h1>#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extrajs %}
    <script src="{% static "icheck/js/icheck.js" %}"></script>
    <script src="{% static "sb/js/sb-admin-2.js" %}" type="text/javascript"></script>
    <script src="{% static "sb/js/metisMenu.js" %}"></script>
    <script src="{% static "js/jquery.treeview.js" %}" type="text/javascript"></script>
    <script src="{% static "sb/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "sb/js/dataTables.bootstrap.js" %}"></script>
    <script src="{% static "sb/js/dataTables.responsive.js" %}"></script>
    <script src="{% static "js/operation.js" %}"></script>
{% endblock %}