{% extends 'base.html' %}
{% block title %}倚天剑{% endblock %}
{% load staticfiles %}
{% load static %}

{% block extracss %}
    <link href="{% static "css/register.css" %}" rel="stylesheet">
    <link href="{% static "sb/css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "icheck/skins/minimal/blue.css" %}" rel="stylesheet">
    {#    <link href="{% static "sb/css/metisMenu.css" %}" rel="stylesheet">#}
    <link href="{% static "sb/css/font-awesome.css" %}" rel="stylesheet">
    {#    <style>#}
    {#    body{#}
    {#        background-color: #444;#}
    {#    }#}
    {#    </style>#}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="well register-form">
            <iframe id="frame_registerForm" name="frame_registerForm" style="display: none"></iframe>
            <form class="form-register" method="post" target="frame_registerForm">
                {% csrf_token %}
                <legend><h2 class="text-center">注册</h2></legend>
                <div class="row">
                    <label class="register_info">邮箱地址</label>
                </div>
                <div class="form-group">
                    {#                    <div class="control-wapper">#}
                    {#                        <label class="input-icon">#}
                    {#                        <i class="fa-user fa"></i>#}
                    {#                        </label>#}
                    <label for="inputEmail" class="sr-only">邮箱</label>
                    <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" required
                           autofocus>
                    {#                    </div>#}
                </div>
                <div class="row">
                    <label class="register_info">用户名</label>
                </div>
                <div class="form-group">
                    {#                    <div class="control-wapper">#}
                    {#                        <label class="input-icon">#}
                    {#                        <i class="fa-user fa"></i>#}
                    {#                        </label>#}

                    <label for="inputUsername" class="sr-only">用户名</label>
                    <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username"
                           required autofocus>
                    {#                    </div>#}
                </div>

                <div class="row">
                    <label class="register_info">请输入密码</label>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">密码</label>
                    <input type="password" id="inputPassword" class="form-control" name="password"
                           placeholder="Password"
                           required>
                </div>
                <div class="row">
                    <label class="register_info">请再次输入密码</label>
                </div>
                <div class="form-group">
                    <label for="inputPassword2" class="sr-only">密码</label>
                    <input type="password" id="inputPassword2" class="form-control" name="password2"
                           placeholder="Password again!"
                           required>
                </div>
                {#                <div class="form-group">#}
                {#                    <div class="checkbox col-md-6" style="margin-left: -30px;">#}
                {#                        <label>#}
                {#                            <input type="checkbox" value="remember-me">#}
                {#                            <span style="font-size: 16px; vertical-align: text-top;">记住密码</span>#}
                {#                        </label>#}
                {#                    </div>#}
                {#                </div>#}
                <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
                <br>
                <div id="result_info" class="register_info error_info">
                    <br>
                </div>
            </form>
        </div>
    </div> <!-- /container -->
{% endblock %}

{% block extrajs %}
    <script src="{% static "icheck/js/icheck.js" %}"></script>
    <script src="{% static "sb/js/metisMenu.js" %}"></script>
    <script src="{% static "sb/js/sb-admin-2.js" %}" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            //icheck插件
            $('input').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue',
                increaseArea: '20%' // optional
            });

            register_error1 = function () {
                $('#result_info').text("两次密码不相同，请重新输入");
            };
            register_error2 = function () {
                $('#result_info').text("密码不能为空");
            };
            register_has_user = function () {
                $('#result_info').text("用户名已被注册，请重新输入");
            };
            register_has_email = function () {
                $('#result_info').text("该邮箱已被注册。");
            };
            register_success = function () {
{#                alert('请登录邮箱激活用户完成注册，有效期为1个小时。');#}
{#                location.href = '/user/login/';#}
                $("#result_info").html('<label>请登录邮箱激活用户完成注册，有效期为1个小时。</label><br><a href="/user/login/">登录</a>')
            }

        });
    </script>

{% endblock %}