{% extends 'base.html' %}
{% block title %}找回密码{% endblock %}
{% load staticfiles %}
{% load static %}

{% block extracss %}
    <link href="{% static "css/user-info.css" %}" rel="stylesheet">
    <link href="{% static "css/operation.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">

    <div class="well col-md-4 col-lg-offset-4 login-form">
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">#}
        <legend><h2 class="text-center">
            重置密码
            </h2>
            </legend>
        <p>
            &nbsp;
        </p>
        <p>{{ user.username }}</p>
        <iframe id="frame_find_pwd_form" name="frame_find_pwd_form" hidden></iframe>
                <form class="form-container" target="frame_find_pwd_form" method="post" action="/user/find_pwd/">
                    <p>请输入新密码</p>
                    <input type="password" class="form-control" name="password1" required>
                    <p>请输入新密码</p>
                    <input type="password" class="form-control" name="password2" required>
                    <p id="reset_pwd_info">
                        &nbsp;
                    </p>
                    <input type="submit" class="form-control btn btn-submit" value="发送邮件">
                </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
var reset_fails_info = function (ret) {
    $("#reset_pwd_info").html(ret);
}
</script>
{% endblock %}