{% extends 'base.html' %}
{% block title %}用户信息{% endblock %}
{% load staticfiles %}
{% load static %}

{% block extracss %}
    <link href="{% static "css/user-info.css" %}" rel="stylesheet">
    <link href="{% static "css/operation.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container main-body">
        <ul class="head-tab nav nav-tabs text-center" role="tablist">
            <li class="active">
                <a id="nav-user_info" href="#">用户信息</a>
            </li>
            {#            <li>#}
            {#                <a href="#">修改邮箱</a>#}
            {#            </li>#}
            <li>
                <a id="nav-change_pwd" href="#">修改密码</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="tab-user_info" class="tab-panel active">
                <div class="panel-default">
                    <div class="panel-heading">
                        用户基本信息
                    </div>
                    <div class="panel-body">
                        {#                        <div class="container-fluid">#}
                        <div class="row">
                            {#                            <div class="col-md-8">#}
                            <table class="table table-horizonal">
                                <tbody>
                                <tr>
                                    <th width="25%">用户名</th>
                                    <td width="75%">
                                        {{ user.username }}
{#                                        <button class="btn btn-success btn-submit">修改用户名</button>#}
                                    </td>
                                </tr>
                                <tr>
                                    <th>邮箱</th>
                                    <td>{{ user.email }}</td>
                                </tr>

                                </tbody>
                            </table>
                            {#                                <div class="row">#}
                            {#                                    用户名：admin#}
                            {#                                </div>#}
                            {#                                <p>#}
                            {#                                    邮箱：admin@admin.com#}
                            {#                                </p>#}
                            {#                                <p>#}
                            {#                                    手机号:132456790#}
                            {#                                </p>#}
                            {#                            </div>#}
                            {#                            <div class="col-md-4">#}
                            {#                                头像：#}
                            {#                            </div>#}
                        </div>
                        {#                        </div>#}
                    </div>
                </div>
                {#                <div class="tab-panel active">#}
                {#                    <div id="change_info" class="panel-default">#}
                {#                        <div class="panel-heading">#}
                {#                            修改基本信息#}
                {#                        </div>#}
                {#                        <form>#}
                {#                            <div class="row">#}
                {#                            <table#}
                {#                            用户名：#}
                {#                                </div>#}
                {#                            <input type="text" class="form-control">#}
                {#                            头像#}
                {#                            <input type="icon" class="form-control">#}
                {#                        </form>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div id="tab-change_pwd" class="tab-panel">
                <div class="panel-default">
                    <div class="panel-heading">
                        修改密码
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <p>用户名：{{ user.username }}</p>
                        </div>
                        <iframe id="change-pwd-fram" name="change-pwd-fram" hidden></iframe>
                        <form method="post" action="/user/info/" target="change-pwd-fram">
                            {% csrf_token %}
                            <div class="form-group">
                                原密码
                                <input type="password" id="password" name="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                新密码
                                <input id="password1" type="password" name="password1" class="form-control" minlength="8" required>
                            </div>
                            <div class="form-group">
                                再次输入新密码
                                <input type="password" id="password2" name="password2" class="form-control" minlength="8" required>
                            </div>
                            <div id="change-pwd-info" class="form-group text-danger">
                                &nbsp;
                            </div>
                            <input id="change-pwd-btn" type="submit" class="btn btn-submit" value="确认修改" disabled>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

{% block extrajs %}
    <script src="{% static "js/user-info.js" %}"></script>
{% endblock %}
